.burger-contain {
  left: $b-margin;
  position: absolute;
  top: $b-margin;
  width: auto;

  .burger {
    background: $b-primary-color;
    border: rgba(255, 255, 255, 1) solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: $b-height;
    padding-left: $b-pad-left;
    padding-top: $b-pad-top;
    position: relative;
    transition: $b-transition;
    width: $b-height;
    z-index: 999;
  }

  .bun {
    background: $b-light-color;
    position: relative;
    transition: $b-transition;
  }

  .bun-top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  .bun-mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  .bun-bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }

  .burger-brand {
    color: $b-primary-color;
    font-family: $b-font-stack;
    font-size: $b-font-size;
    font-weight: 300;
    left: 0;
    margin-left: $b-txt-pad;
    position: relative;
    text-decoration: none;
    top: -$b-line-height;
    transition: $b-transition;
    z-index: 2000;
  }

  &:hover:not(.open) {
    .burger {
      background: lighten($b-primary-color, 10);
    }
  }

  &.open {
    .burger {
      border: $b-primary-color solid 2px;
    }

    .bun-top {
      background: $b-light-color;
      top: 9px;
      transform: rotate(45deg);
    }

    .bun-mid {
      opacity: 0;
    }

    .bun-bottom {
      background: $b-light-color;
      top: 5px;
      transform: rotate(-45deg);
    }

    .burger-brand {
      color: $b-light-color;
    }

    &:hover .burger {
      border: rgba(255, 255, 255, 1) solid 2px;
    }
  }
}

.burger-nav {
  background: $b-primary-color;
  display: none;
  font-family: $b-font-stack;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  li {
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px);

    .burger-link {
      border-left: $b-light-color solid 0;
      color: $b-light-color;
      font-family: $b-font-stack;
      font-size: $b-font-size;
      font-weight: $b-font-weight;
      margin-left: $b-margin;
      text-decoration: none;
      transition: $b-transition;
      width: auto;
    }

    .burger-link:hover,
    .burger-link.active {
      border-left: $b-light-color solid 2px;
      padding-left: $b-txt-pad;
    }

    &:first-child {
      margin-top: $b-txt-pad-top;
    }
  }


  li:not(.open) {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  &.open {
    li {
      animation-duration: .4s;
      animation-fill-mode: both;
      animation-name: slideInLeft;
    }
  }
}
