<head>
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>
    {{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}public/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}public/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}public/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}public/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}public/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}public/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}public/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}public/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}public/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}public/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}public/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
